<h2>Create Employee</h2>

<form (ngSubmit)="onSubmit()">
    <div>
        <label>First Name</label>
        <input tupe="text" name="firstName" [(ngModel)]="employee.firstName" />
    </div>
    <div>
        <label>Last Name</label>
        <input tupe="text" name="lastName" [(ngModel)]="employee.lastName" />
    </div>
    <div>
        <label>Pnone No</label>
        <input tupe="phone" name="phone" [(ngModel)]="employee.phone" />
    </div>
    <div>
        <label>Email</label>
        <input tupe="email" name="email" [(ngModel)]="employee.email" />
    </div>
    <div>
        <label>Position</label>
        <input tupe="text" name="position" [(ngModel)]="employee.position" />
    </div>
    
    <button type="submit">Create</button>
</form>